body{
width: auto;
}

.sunflower-img{
width:80%;
margin: auto;
position: relative;
}

.recipe-img{
width: 100px;
height: 100px;
}

.name{
text-align: center;
position: relative;
}

.hey{
text-align: center;
}


.turtle-img{
margin: auto;
width: 50%;
}
